.container-create {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../../../../public/background.svg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title-h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn-create {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #1abc9c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-create:hover {
  background-color: #16a085;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .container-create {
    max-width: 90%;
    transform: translateY(0%);
  }
}

@media (max-width: 400px) {
  .container-create {
    padding: 10px;
  }
}
